meta(charset='UTF-8')
meta(name='viewport', content='initial-scale=1, user-scalable=no')

meta(name='theme-color', content='#000000')

meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@TRUMPorbit')
meta(name='twitter:title', content='TRUMPorbit')
meta(name='twitter:description', content='enter TRUMP orbit')
meta(name='twitter:image', content='http://trumporb.it/images/image.png')
meta(name='og:image', content='http://trumporb.it/images/image.png')